In [6]:
import numpy as np
import pandas as pd
import sys
sys.path.insert(0, '../src')
from air_quality_cleaning_and_aggregation import air_data_cleaning

In [21]:
air_1999 = pd.read_csv('../data/conreport1999.csv')
inf_mor = pd.read_csv('../data/cleaned/infant_mortality.csv')

In [22]:
air_1999

,CBSA Code,CBSA,CO 2nd Max 1-hr,CO 2nd Max 8-hr,NO2 98th Percentile 1-hr,NO2 Mean 1-hr,Ozone 2nd Max 1-hr,Ozone 4th Max 8-hr,SO2 99th Percentile 1-hr,SO2 2nd Max 24-hr,SO2 Mean 1-hr,PM2.5 98th Percentile 24-hr,PM2.5 Weighted Mean 24-hr,PM10 2nd Max 24-hr,PM10 Mean 24-hr,Lead Max 3-Mo Avg
0,10300,"Adrian, MI",.,.,.,.,0.09,0.083,.,.,.,.,.,.,.,.
1,10420,"Akron, OH",4.7,3.1,.,.,0.12,0.098,158,65,11,42,18,68,22,.
2,10500,"Albany, GA",.,.,.,.,.,.,.,.,.,.,.,60,26,.
3,10580,"Albany-Schenectady-Troy, NY",6.4,4.2,.,.,0.11,0.092,37,16,3,.,.,.,.,.
4,10740,"Albuquerque, NM",7.5,4.6,54,16,0.1,0.076,.,.,.,.,.,93,39,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,49420,"Yakima, WA",8.6,4.8,.,.,.,.,.,.,.,.,.,82,25,.
452,49620,"York-Hanover, PA",5.3,2.4,64,19,0.12,0.094,83,19,7,.,.,.,.,.
453,49660,"Youngstown-Warren-Boardman, OH-PA",.,.,.,.,0.11,0.095,81,29,8,39,16.9,63,26,.
454,49700,"Yuba City, CA",6.4,4.2,69,14,0.11,0.09,.,.,.,53,15.9,155,37,.
455,49740,"Yuma, AZ",.,.,.,.,0.09,0.079,.,.,.,.,.,73,37,.

In [28]:
def air_data_cleaning_test(df, df2, year):
    '''
    DocString
    '''
    numeric_cols = df.columns[2:]
    df[numeric_cols] = df[numeric_cols].replace('.', np.nan)
    for col in numeric_cols:
        df[col] = pd.to_numeric(df[col])
    df['CBSA'] = df['CBSA'].str.replace('Washington-Arlington-Alexandria, DC-VA-MD-WV', 'District of Columbia')
    df['CBSA'] = df['CBSA'].str.replace('New York-Newark-Jersey City, NY-NJ-PA', 'New York City')
    df['CBSA'] = df['CBSA'].str.split(',', expand=True)
    df['CBSA'] = df['CBSA'].str.split('-', expand=True)
    df['CBSA'] = df['CBSA'].str.split('/', expand=True)
    cities_to_keep = df2['Location'].unique()
    df = df.loc[df['CBSA'].isin(cities_to_keep)]
    cbsa_codes_to_drop = [17380, 17420, 17980, 18020, 18060, 27340, 33060, 38860]
    df = df.loc[~(df['CBSA Code'].isin(cbsa_codes_to_drop))]
    df.rename(columns={'CBSA': 'Location'}, inplace=True)
    df.set_index('Location', drop=True, inplace=True)
    df.drop(columns='CBSA Code', inplace = True)
    df.loc['National Means'] = df.mean()
    df.loc['National First Quartile'] = df.quantile(.25)
    df.loc['National Median'] = df.median()
    df.loc['National Third Quartile'] = df.quantile(.75)
    df.insert(loc=0, column='Year', value=year)
    return df

In [29]:
air_data_cleaning_test(air_1999, inf_mor, 1999)

,Year,CO 2nd Max 1-hr,CO 2nd Max 8-hr,NO2 98th Percentile 1-hr,NO2 Mean 1-hr,Ozone 2nd Max 1-hr,Ozone 4th Max 8-hr,SO2 99th Percentile 1-hr,SO2 2nd Max 24-hr,SO2 Mean 1-hr,PM2.5 98th Percentile 24-hr,PM2.5 Weighted Mean 24-hr,PM10 2nd Max 24-hr,PM10 Mean 24-hr,Lead Max 3-Mo Avg
Location,,,,,,,,,,,,,,,
Albuquerque,1999,7.500,4.600000,54.0,16.00,0.100000,0.076000,NaN,NaN,NaN,NaN,NaN,93.000000,39.000000,NaN
Atlanta,1999,6.300,4.100000,87.0,24.00,0.160000,0.124000,90.000000,23.000000,5.000000,48.000000,23.000000,72.000000,35.000000,NaN
Austin,1999,2.100,1.200000,NaN,6.00,0.110000,0.099000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Baltimore,1999,10.200,5.600000,70.0,24.00,0.150000,0.113000,79.000000,20.000000,6.000000,NaN,NaN,61.000000,32.000000,NaN
Boston,1999,8.400,4.200000,77.0,30.00,0.120000,0.093000,93.000000,40.000000,8.000000,47.000000,15.300000,65.000000,30.000000,NaN
Charlotte,1999,7.100,4.300000,NaN,18.00,0.130000,0.107000,NaN,NaN,NaN,38.000000,17.600000,60.000000,30.000000,NaN
Chicago,1999,6.400,4.900000,83.0,32.00,0.130000,0.102000,138.000000,44.000000,9.000000,54.000000,21.800000,165.000000,40.000000,NaN
Cleveland,1999,6.800,3.900000,68.0,25.00,0.120000,0.103000,201.000000,62.000000,11.000000,38.000000,15.300000,106.000000,42.000000,NaN
Colorado Springs,1999,12.600,5.200000,88.0,19.00,0.080000,0.065000,56.000000,20.000000,4.000000,NaN,NaN,79.000000,22.000000,NaN
Columbus,1999,8.500,2.500000,NaN,NaN,0.140000,0.103000,44.000000,15.000000,4.000000,40.000000,17.700000,76.000000,27.000000,NaN
Dallas,1999,4.800,3.200000,76.0,21.00,0.150000,0.112000,149.000000,33.000000,4.000000,NaN,NaN,57.000000,32.000000,NaN
Denver,1999,12.100,5.200000,78.0,19.00,0.110000,0.081000,81.000000,12.000000,3.000000,NaN,NaN,141.000000,36.000000,NaN
Detroit,1999,6.000,4.400000,NaN,18.00,0.120000,0.096000,172.000000,53.000000,9.000000,44.000000,13.200000,96.000000,36.000000,NaN
El Paso,1999,14.400,8.200000,74.0,28.00,0.110000,0.073000,56.000000,16.000000,2.000000,NaN,NaN,209.000000,66.000000,NaN
Fresno,1999,10.000,7.600000,93.0,24.00,0.150000,0.105000,NaN,NaN,NaN,97.000000,23.400000,127.000000,46.000000,NaN
Houston,1999,6.300,4.100000,74.0,24.00,0.200000,0.124000,99.000000,40.000000,7.000000,NaN,NaN,116.000000,44.000000,NaN
Indianapolis,1999,4.800,2.600000,NaN,18.00,0.110000,0.096000,115.000000,24.000000,7.000000,NaN,NaN,53.000000,27.000000,NaN
Jacksonville,1999,6.300,4.100000,53.0,16.00,0.100000,0.080000,126.000000,36.000000,4.000000,NaN,NaN,58.000000,28.000000,NaN
Kansas City,1999,9.500,4.700000,62.0,15.00,0.120000,0.084000,29.000000,11.000000,2.000000,30.000000,14.100000,118.000000,40.000000,NaN
Las Vegas,1999,10.200,8.200000,85.0,27.00,0.100000,0.084000,14.000000,7.000000,1.000000,26.000000,10.300000,281.000000,56.000000,NaN
Los Angeles,1999,16.000,11.100000,139.0,51.00,0.140000,0.095000,48.000000,19.000000,4.000000,53.000000,24.300000,119.000000,56.000000,NaN
Louisville,1999,9.100,4.800000,57.0,14.00,0.120000,0.103000,149.000000,32.000000,7.000000,40.000000,17.500000,60.000000,29.000000,NaN
Memphis,1999,7.600,5.200000,72.0,25.00,0.130000,0.104000,81.000000,28.000000,6.000000,35.000000,15.900000,64.000000,27.000000,NaN
Miami,1999,7.900,5.400000,67.0,17.00,0.110000,0.079000,79.000000,15.000000,3.000000,25.000000,9.300000,44.000000,24.000000,NaN
Milwaukee,1999,3.500,2.200000,67.0,22.00,0.120000,0.097000,95.000000,24.000000,4.000000,40.000000,15.000000,60.000000,27.000000,NaN
Minneapolis,1999,7.600,5.200000,63.0,22.00,0.100000,0.078000,38.000000,17.000000,2.000000,NaN,NaN,88.000000,35.000000,NaN
Nashville,1999,7.600,5.400000,97.0,18.00,0.120000,0.101000,182.000000,35.000000,5.000000,51.000000,18.800000,74.000000,32.000000,NaN
New York City,1999,10.000,6.600000,100.0,42.00,0.150000,0.110000,79.000000,45.000000,13.000000,39.000000,13.700000,73.000000,35.000000,NaN
Oklahoma City,1999,6.500,4.300000,63.0,14.00,0.100000,0.084000,12.000000,9.000000,3.000000,NaN,NaN,NaN,NaN,NaN
Omaha,1999,12.400,8.800000,NaN,NaN,0.090000,0.080000,NaN,NaN,NaN,NaN,NaN,102.000000,43.000000,NaN
Philadelphia,1999,7.400,4.900000,68.0,32.00,0.150000,0.112000,170.000000,49.000000,10.000000,35.000000,14.300000,51.000000,22.000000,NaN
Phoenix,1999,13.500,8.100000,172.0,40.00,0.120000,0.091000,NaN,NaN,NaN,30.000000,12.200000,115.000000,59.000000,NaN
Portland,1999,12.900,6.700000,NaN,NaN,0.090000,0.072000,NaN,NaN,NaN,35.000000,8.800000,62.000000,22.000000,NaN
Sacramento,1999,7.300,6.200000,81.0,21.00,0.140000,0.106000,18.000000,12.000000,4.000000,40.000000,13.400000,144.000000,34.000000,NaN
San Antonio,1999,6.300,4.200000,NaN,25.00,0.110000,0.091000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
San Diego,1999,9.200,4.900000,100.0,26.00,0.110000,0.092000,63.000000,16.000000,3.000000,38.000000,16.400000,112.000000,52.000000,NaN
San Francisco,1999,7.800,4.500000,72.0,22.00,0.140000,0.093000,56.000000,20.000000,3.000000,NaN,NaN,94.000000,26.000000,NaN
San Jose,1999,8.800,6.200000,93.0,26.00,0.120000,0.082000,NaN,NaN,NaN,60.000000,16.300000,93.000000,28.000000,NaN
San Juan,1999,12.800,9.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.000000,50.000000,NaN
Seattle,1999,15.600,6.600000,56.0,19.00,0.090000,0.072000,NaN,NaN,NaN,46.000000,11.500000,50.000000,25.000000,NaN
Tucson,1999,7.800,3.800000,59.0,19.00,0.090000,0.073000,12.000000,5.000000,2.000000,20.000000,8.800000,80.000000,43.000000,NaN
Tulsa,1999,5.600,3.500000,62.0,17.00,0.120000,0.091000,169.000000,83.000000,11.000000,NaN,NaN,NaN,NaN,NaN
Virginia Beach,1999,9.200,4.600000,60.0,17.00,0.140000,0.097000,92.000000,22.000000,7.000000,NaN,NaN,50.000000,19.000000,NaN
District of Columbia,1999,7.500,5.600000,74.0,25.00,0.140000,0.107000,150.000000,26.000000,9.000000,NaN,NaN,57.000000,23.000000,NaN
Wichita,1999,8.600,4.600000,NaN,NaN,0.100000,0.079000,NaN,NaN,NaN,28.000000,11.900000,85.000000,30.000000,NaN
National Means,1999,8.640,5.246667,78.4,22.95,0.121591,0.093386,91.969697,27.666667,5.515152,41.423077,15.376923,93.731707,35.341463,NaN
National First Quartile,1999,6.575,4.200000,63.0,18.00,0.110000,0.081000,56.000000,16.000000,3.000000,35.000000,12.700000,60.250000,27.000000,NaN
National Median,1999,7.800,4.900000,74.0,22.00,0.120000,0.093193,81.000000,23.000000,4.000000,39.500000,15.150000,80.000000,32.000000,NaN
National Third Quartile,1999,10.000,5.750000,84.5,25.00,0.140000,0.103000,129.000000,35.250000,7.000000,46.000000,17.500000,112.750000,40.500000,NaN

In [25]:
air_1999

,CBSA Code,CBSA,CO 2nd Max 1-hr,CO 2nd Max 8-hr,NO2 98th Percentile 1-hr,NO2 Mean 1-hr,Ozone 2nd Max 1-hr,Ozone 4th Max 8-hr,SO2 99th Percentile 1-hr,SO2 2nd Max 24-hr,SO2 Mean 1-hr,PM2.5 98th Percentile 24-hr,PM2.5 Weighted Mean 24-hr,PM10 2nd Max 24-hr,PM10 Mean 24-hr,Lead Max 3-Mo Avg
0,10300,Adrian,NaN,NaN,NaN,NaN,0.09,0.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10420,Akron,4.7,3.1,NaN,NaN,0.12,0.098,158.0,65.0,11.0,42.0,18.0,68.0,22.0,NaN
2,10500,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,26.0,NaN
3,10580,Albany,6.4,4.2,NaN,NaN,0.11,0.092,37.0,16.0,3.0,NaN,NaN,NaN,NaN,NaN
4,10740,Albuquerque,7.5,4.6,54.0,16.0,0.10,0.076,NaN,NaN,NaN,NaN,NaN,93.0,39.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,49420,Yakima,8.6,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,25.0,NaN
452,49620,York,5.3,2.4,64.0,19.0,0.12,0.094,83.0,19.0,7.0,NaN,NaN,NaN,NaN,NaN
453,49660,Youngstown,NaN,NaN,NaN,NaN,0.11,0.095,81.0,29.0,8.0,39.0,16.9,63.0,26.0,NaN
454,49700,Yuba City,6.4,4.2,69.0,14.0,0.11,0.090,NaN,NaN,NaN,53.0,15.9,155.0,37.0,NaN
455,49740,Yuma,NaN,NaN,NaN,NaN,0.09,0.079,NaN,NaN,NaN,NaN,NaN,73.0,37.0,NaN